
.floatingmenu {
  position: fixed;
  bottom: min(50px, 3%);
  left: min(50px, 5%);
  background-color:#AAFFFF;
  border-radius: 10px;
  padding: -10px;
  color: #112233;
  z-index: 10000;
}

.bigmodal {
    width: 95%;
    height: 95%;
}

.darkmodalheader {
    border: 0px;
    background-color: #334455;
}

.darkmodalbody {
    background-color: #334455;
}

.white {
    color: #FFFFFF 
}

.center {
    text-align: center;
    padding-top: 10px;
}

.closemenubutton {
    border: 0px;
    background-color: inherit;
}

.optionbutton {
    width: 100%;
    margin: 20px;
}

.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
